@model List<ResultCategoryWithSubcategoriesDto>

<section id="menu">
    <div class="container">
        <div class="menu-area">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Admin/Home/Index">Admin Page</a></li>
                        <li><a href="~/dailyShop/index.html">Home</a></li>
                        @foreach(var item in Model)
                        {
                            <li>
                                <a href="/Product/c-@item.Id">@item.Name</a>
                                @if(item.Subcategories.Count>0)
                                {
                                    <ul class="dropdown-menu">
                                        @foreach(var subItem in item.Subcategories)
                                        {
                                            <li><a href="/Product/sc-@subItem.Id">@subItem.Name</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }                 
                        <li>
                            <a href="~/dailyShop/blog-archive.html">Blog <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/dailyShop/blog-archive.html">Blog Style 1</a></li>
                                <li><a href="~/dailyShop/blog-archive-2.html">Blog Style 2</a></li>
                                <li><a href="~/dailyShop/blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="~/dailyShop/contact.html">Contact</a></li>
                        <li>
                            <a href="~/dailyShop/#">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/dailyShop/product.html">Shop Page</a></li>
                                <li><a href="~/dailyShop/product-detail.html">Shop Single</a></li>
                                <li><a href="~/dailyShop/404.html">404 Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>