@model List<ResultSubcategoryDto>

<div class="aa-sidebar-widget">
    <h3>Alt Kategoriler</h3>
    <ul class="aa-catg-nav">
        @foreach(var item in Model)
        {
            <li><a href="s-@item.Id">@item.Name</a></li>
        }
    </ul>
</div>