@model CreateBrandDto

@{
    ViewData["Title"] = "Create";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Marka Girişi</h4>
                        <p class="card-subtitle mb-4">Markayı girdikten sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz..</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputModel">İsim</label>
                                <input asp-for="Name" type="text" class="form-control" id="exampleInputModel" placeholder="İsim girişi yapınız..." />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>