.my-profile {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  padding: 2rem;
}

.favorites-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.favorites-table th,
.favorites-table td {
  border: 1px solid #dee2e6;
  padding: 10px;
}

.favorites-table th {
  background-color: #f1f1f1;
}

.product-image {
  width: 50px;
  height: auto;
}

.delete-button,
.add-to-cart-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto; /* Center the button */
}

.delete-button {
  background-color: white;
  font-size: 1.2rem; /* Increased font size */
}

.add-to-cart-button {
  background-color: #ff8500;
  color: white;
}

.add-to-cart-button:hover {
  background-color: #ff6b00;
}
