<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeadComponentPartial")

<body>

    <div id="layout-wrapper">

        @await Component.InvokeAsync("_AdminHeaderComponentPartial")

        @await Component.InvokeAsync("_AdminMenuComponentPartial")

        <div class="main-content">

            @RenderBody()

            @await Component.InvokeAsync("_AdminFooterComponentPartial")

        </div>

    </div>

    <div class="menu-overlay"></div>


    @await Component.InvokeAsync("_AdminScriptComponentPartial")

</body>

</html>