
@{
    ViewData["Title"] = "Index";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfanın Author Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfadaki Kategori alanında bulunan bilgileri bu sayfadan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>İsim</th>
                                        <th>Açıklama</th>
                                        <th>Görsel</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
@*                                     @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <th><img src="@item.ImageUrl" width="50" height="50" style="margin-right:10px" />@item.Name</th>
                                            <th><a href="/Admin/AdminAuthor/RemoveAuthor/@item.AuthorID" class="btn btn-outline-danger">Sil</a></th>
                                            <th><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorID" class="btn btn-outline-success">Güncelle</a></th>
                                            <th><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorID" class="btn btn-outline-success">Yazarın Bilgileri</a></th>
                                        </tr>
                                    } *@
                                </tbody>
                            </table>
                            <a href="/Admin/AdminAuthor/CreateAuthor/" class="btn btn-outline-primary">Yeni Yazar Girişi</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>